@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://db.onlinewebfonts.com/c/13ab13418f633c1b0516fed6e30bedbc?family=Suisse+Int%27l');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

:root {
	--black: #404040;
	--purple: #d5b8ff ;
	--dark-purple: #bf55ec;
	--hover-color: #bf55ec;
	--red: #e5704b;
	--dark-red: #ce6443;
	--hover-red-color: #ea8c6e;
	--grey: #f2f2f2;
	--light-grey: #f1f1f1;
	--dark-grey: #aaaaaa;
	--disabled-color: #959495;
	--rounded: 8px;
}
* {
  box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	margin: 0;
  padding: 0;
}

body {
	// @apply bg-[var(--grey)];
	font-family: "Lora", serif;
	font-size: 16px;
	color: var(--black);
	margin: 0;
  padding: 0;
}

textarea {
	@apply resize-none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
	-moz-appearance: textfield; /* Firefox */
}

input[type='date']:disabled {
	background-color: var(--grey);
}

.scrollbar__body {
	@apply overflow-hidden
}

.desctop {
	@apply max-w-[1200px] m-auto;

  &__view {
    @apply min-h-screen flex flex-col px-2;
  }
}

.main {
  @apply flex-1
}

.dashboard {
	@apply h-screen max-w-[1400px] m-auto;
}

.not__found {
	@apply flex flex-col items-center justify-center;
	height: calc(100vh - 175px);
}

.overlay {
	@apply fixed top-0 right-0 left-0 bottom-0 w-full h-screen overflow-hidden pointer-events-auto z-[100];
	background-color: rgba(0, 0, 0, .4);
}

.scrollbar--hide {
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	scrollbar-width: none;  /* Firefox */

	&::-webkit-scrollbar { 
		display: none;  /* Safari and Chrome */
	}
}

.glass {
	@apply absolute top-0 w-full h-full z-[8];
	background: rgba(0, 0, 0, 0.4);
}

@media screen and (min-width: 1024px) {
  .desctop__view {
    @apply px-6;
  }
}






.wrapper {
	@apply max-w-[1260px] m-auto relative flex flex-col min-h-screen;
	// max-w-[1540px]
}

.container {
	@apply px-5 max-w-full flex-grow;
}

.catalog {
	@apply flex items-start gap-4 mt-5 flex-grow;

	&__cards {
		@apply w-full grid gap-[2vw] pb-10;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
}

.banner__logo {
	@apply absolute top-1/2 left-10 text-white mb-auto w-[650px];
	font-size: 36px !important;
	line-height: 120% !important;
}

.scrollbar {
	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		box-shadow: inset 0 0 6px var(--dark-purple);
	}

	&::-webkit-scrollbar-track {
		background-color: var(--light-grey);
		outline: 1px solid var(--light-grey);
	}
}
