@reference "../../../app/theme.css";

.BasketDesctop {
    @apply fixed right-0 top-0 flex flex-col m-8 rounded-8 bg-white overflow-hidden;
    height: calc(100vh - 64px);
    max-height: calc(100vh - 64px);

    &__close {
        @apply fixed top-6 right-6 z-[2];
    }

    &__closeBtn {
        @apply w-10 h-10 flex items-center justify-center rounded-full p-1 bg-[var(--dark-grey)];
    }

    &__body {
        @apply h-full flex flex-col gap-6 p-6 overflow-auto;
    }
}


.BasketMobile {
    @apply fixed top-10 w-full flex flex-col rounded-t-8 p-4 bg-white overflow-hidden;
    max-height: calc(100% - 40px);
    height: calc(100% - 40px);
    box-shadow: 0 0 10px 5px rgba(0,0,0,.1);

    &__close {
        @apply fixed right-3 z-[2];
    }

    &__closeBtn {
        @apply w-8 h-8 flex items-center justify-center rounded-full p-1 bg-[var(--dark-grey)];
    }

    &__body {
        @apply flex flex-col flex-grow overflow-auto;
    }
}