@reference "../../../app/theme.css";

.search {
	@apply sticky top-0 flex flex-col gap-4 pt-6 bg-[var(--grey)] z-[2];

    &__container {
        @apply py-2 px-3 bg-white rounded-t-8;
    }
}

.navigation {
    @apply flex items-center justify-between gap-3 py-5 px-3 bg-white;
    flex-flow: row nowrap;

    &__main {
        @apply pb-0;
    }
    &__btn, &__search {
        @apply h-9 w-9 grid place-content-center p-4 rounded-full bg-[var(--grey)] cursor-pointer;
        transition: background-color 0.3s ease-in;

        &:hover {
            @apply bg-[var(--dark-grey)];
        }
    }

    &__name {
        @apply text-2xl font-lora font-bold;
        letter-spacing: -.6px;
    }
}

.content {
	@apply relative z-[2] flex flex-col flex-grow rounded-b-8 bg-white pb-5;
}

.logo {
    @apply text-base text-[var(--dark-grey)] px-1 pb-1;
}
.subcategory {
    @apply flex items-center gap-2 pb-2;

    &__image {
        @apply w-8 h-8 grid place-content-center rounded-lg bg-[var(--light-grey)];
    }
    &__logo {
        @apply text-lg font-semibold;
    }
}

@media screen and (min-width: 1024px) {
    .search__container {
        @apply p-6;
    }

    .navigation {
        @apply justify-start rounded-t-8;

        &__search {
            @apply hidden;
        }
    }
}