.dashboard {
	@apply w-full h-full flex items-start gap-10 pt-5;
}

.nav {
	@apply h-full flex flex-col w-52 border-r;

	&__link {
		@apply flex items-center gap-2 border-b p-2 cursor-pointer hover:text-[var(--purple)];
		transition: all 0.3s ease-in;
	}
}

.content {
	@apply w-full;
}

.form {
	@apply relative;

	&__disabled::before {
		@apply absolute w-full h-full z-[1];
		content: '';
		background-color: rgba(255, 255, 255, .5);
	}

	&__btns {
		@apply flex justify-end gap-5 mt-5;
	}
}

.grid__container {
	@apply grid grid-cols-2 gap-3 mb-5;

	&:nth-child(6) {
		@apply mb-0;
	}
}

.images {
	@apply grid gap-4 mt-3;
	grid-template-columns: repeat(auto-fit, minmax(20ch, 20ch));
}
.image {
	--gallery-aspect-ratio: 3/4;

	@apply relative w-full;

	& img {
		@apply object-cover rounded-md;
	}

	&__delete {
		@apply absolute right-3 top-3 border rounded-full bg-white p-1 cursor-pointer;

		&:hover svg {
			@apply stroke-[var(--red)];
			transition: 0.4s ease-in
		}
	}
}

.head__cell {
	@apply border border-black p-1 font-Lora;
}
.body__cell {
	@apply border p-1 font-Lora text-center;
}

@media screen and (max-width: 991px) {
	.dashboard {
		@apply flex flex-col;
	}

	.nav {
		@apply h-auto w-full flex flex-row w-full border-r-0;
	
	}

	.content {
		@apply px-3;
	}
}
@media screen and (max-width: 767px) {
	.aside {
		@apply w-full flex-row justify-between overflow-x-auto border-r-0 border-b scroll-smooth;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		&__item {
			@apply w-[200px] flex-shrink-0 border-b-0;
		}
	}

	.images {
		grid-template-columns: repeat(auto-fit, minmax(20ch, 0fr));
	}
}

@media screen and (max-width: 500px) {
	.form__btns {
		@apply flex-col gap-3 mt-16;
	}
	.grid__container {
		@apply grid-cols-1;
	}

	.images {
		grid-template-columns: repeat(auto-fit, minmax(15ch, 0fr));
	}
}

@media screen and (max-width: 360px) {
	.images {
		grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
	}
}

@supports (aspect-ratio: 1) {
	.image {
		aspect-ratio: var(--gallery-aspect-ratio);
		height: auto;
		& img {
			aspect-ratio: var(--gallery-aspect-ratio);
			height: auto;
		}
	}
}
