.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px
}

// .category__container {
//     @apply flex flex-col gap-5 mb-10 last:mb-0;
// }

// .subcategory__container {
// 	@apply grid gap-2 max-w-full;
// 	grid-template-columns: repeat(2, minmax(0, 1fr));
//     grid-auto-rows: max-content;
// }

// .subcategory {
// 	@apply relative;
// }

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 768px) {
	.products {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

// @media screen and (min-width: 1024px) {
// 	.subcategory__container {
// 		grid-template-columns: repeat(3, minmax(0, 1fr));
// 	}
// }


