$w: 15em;
$h: 1em;
$d: .5*$h;
$r: .5*$d;
$uw: $w - $d;

@mixin track() {
    width: 100%;
    height: 100%;
    background: none;
}

@mixin thumb() {
    width: $h;
    height: $h;
    border: none;
    background: currentColor;
    border-radius: 0;
    pointer-events: auto;
}

.wrap {
    --dif: calc(10000 - 0);
    @apply relative overflow-hidden grid mb-3 bg-slate-300;
    width: $w;
    grid-template-rows: max-content 1em;
    grid-template: repeat(2, max-content) #{$h}/ 1fr 1fr;
    border-radius: var(--rounded);

    &::before, &::after {
        content: '';
        grid-column: 1/ span 2;
        grid-row: 3;
        background: var(--hover-color);
        height: 100%;
    }

    &::before {
        margin-left: calc(#{$r} + (var(--a) - 0) / var(--dif) * #{$uw});
        width: calc((var(--b) - var(--a)) / var(--dif) * #{$uw});
    }

    &::after {
        margin-left: calc(#{$r} + (var(--b) - 0) / var(--dif) * #{$uw});
        width: calc((var(--a) - var(--b)) / var(--dif) * #{$uw});
    }
}

.label {
    @apply absolute;
    clip-path: inset(50%);
}

input[type='range'].input {
    grid-column: 1 / span 2;
    grid-row: 3;
    margin: 0;
    background: none;
    color: var(--black);
    pointer-events: none;
    z-index: 1;
    cursor: pointer;
    accent-color: white;

    & {
        -webkit-appearance: none
    }
    
    &::-webkit-slider-runnable-track { @include track }
    &::-moz-range-track { @include track }
    
    &::-webkit-slider-thumb { @include thumb }
    &::-moz-range-thumb { @include thumb }

    &:focus {
		z-index: 2;
    }
}
