.btn {
	@apply flex items-center justify-center gap-1 border-2 rounded-full;
	transition: background-color 0.4s ease-in;

	& span {
		@apply text-sm text-white font-bold;
	}

	&:disabled {
		@apply border-none opacity-60;
	}
}

// theme
.default {
	@apply border-[var(--dark-green)] bg-[var(--green)];

	&:hover {
		background-color: var(--hover-color);
	}
}
.red {
	@apply border-[var(--dark-red)] bg-[var(--red)];

	&:hover {
		background-color: var(--hover-red-color);
	}
}
// size
.base {
	@apply px-3 py-1;
}
.large {
	@apply px-6 py-3;

	& span {
		@apply text-base;
	}
}
