@reference "../theme.css";

.dashboard {
	@apply w-full h-full flex items-start gap-10;
}

.content {
	@apply w-full px-3;
}

.header {
	@apply grid gap-3;
}

.createBtn {
	@apply place-self-end;
}

.search {
	@apply w-full;
}

.spinner {
	@apply flex items-center justify-center mt-6;
}

.products {
	@apply grid gap-3 mt-6;
}

.form {
	@apply relative;

	&__disabled::before {
		@apply absolute w-full h-full z-[1];
		content: '';
		background-color: rgba(255, 255, 255, .5);
	}

	&__btns {
		@apply flex justify-end gap-2 mt-5;

		@variant max-md {
			@apply flex-col gap-2;
		}
	}
}

.categories {
	@apply grid grid-cols-2 gap-2 mb-3;
}

.container {
	@apply grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-2;
}

.select {
	@apply w-full cursor-pointer;

	&_item {
		@apply text-base font-lora cursor-pointer;
	}
}

.files {
	@apply my-10;
}

.images {
	@apply grid grid-cols-[repeat(auto-fit,minmax(150px,200px))] gap-4 mt-3;

	@variant max-md {
		@apply grid-cols-[repeat(auto-fit,minmax(150px,1fr))]
	}
}

.image {
	@apply h-65 relative w-full;

	& img {
		@apply object-cover rounded-md;
	}

	&__delete {
		@apply absolute right-3 top-3 border rounded-full bg-white p-1 cursor-pointer;

		&:hover svg {
			@apply stroke-[var(--red)];
			transition: 0.4s ease-in
		}
	}
}

.btn {
	@apply w-50;

	@variant max-md {
		@apply w-full;
	}
}
