.footer {
  @apply grid gap-1 py-4 bg-gray-100;
  position: -webkit-sticky;
  grid-template-areas: "social" "info" "copyright";
}

.info {
  @apply w-full flex justify-center;

  &__link {
    @apply text-xl font-bold;
    transition: color .3s ease-in;

    &:hover {
      color: var(--hover-color);
    }
  }
}

.copyright {
  grid-area: copyright;
  place-self: center;
}