@reference "../theme.css";

.products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px
}

@media screen and (min-width: 500px) {
}

@media screen and (min-width: 768px) {
	.products {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}

