.card {
    @apply relative w-full h-full flex flex-col items-start cursor-pointer;
}

.image {
    @apply relative w-full pb-[100%];

    & img {
        @apply rounded-5 object-cover;
    }

    &__hidden {
        @apply opacity-0 invisible;
        transition: all .3s ease-in;
    }

    &:hover &__hidden {
        @apply opacity-100 visible;
    }
}

.logo {
    @apply text-base text-[var(--black)];
    letter-spacing: .02px;
}

.section__price {
    @apply h-8 flex items-center gap-1 rounded-full px-3 bg-[var(--grey)] mt-[6px] cursor-pointer;
    transition: background-color .3s ease-in;

    &:hover {
        @apply bg-[var(--dark-grey)]
    }
}
.price {
    @apply font-Lora text-lg font-bold text-[var(--green)];
}
