@reference "../../../../app/theme.css";

.card {
    @apply relative w-full h-full flex flex-col items-start cursor-pointer;

    &__logo {
        @apply text-lg;
        letter-spacing: .02px;
    }

    &__price {
        @apply flex gap-1 font-lora text-xl font-bold text-[#E8735A];
    }
}

.image {
    @apply relative w-full pb-[100%] mb-2;

    & img {
        @apply rounded-5 object-cover;
    }

    &__hidden {
        @apply opacity-0 invisible;
        transition: all .3s ease-in;
    }

    &:hover &__hidden {
        @apply opacity-100 visible;
    }
}

.section {
    @apply w-full flex flex-col items-center text-center;
}

.section__price {
    @apply h-8 flex items-center gap-1 rounded-full px-3 bg-[var(--grey)] mt-[6px] cursor-pointer;
    transition: background-color .3s ease-in;

    &:hover {
        @apply bg-[var(--dark-grey)]
    }
}

